<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title !== 'undefined' ? title : 'Login' %></title>
  <link rel="stylesheet" href="/css/output.css">
  <link rel="icon" href="/img/jiget.ico" type="image/x-icon">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
  
  <!-- Tambahkan padding horizontal + responsive -->
  <main class="w-full max-w-md bg-white shadow-lg rounded-lg p-6 mx-4">
    <%- body %>
  </main>

</body>
</html>
